<div> <!-- inside the Global Controller on index-->

	<form class="list" ng-submit="glob.signUp()">
	<h1>Sign Up</h1>
			<label class="item item-input">
			<input ng-model="glob.user.firstName" placeholder="First Name*" type="text" ng-required="true"/>
			</label>

			<label class="item item-input">
			<input ng-model="glob.user.lastName" placeholder="First Name*" type="text" ng-required="true"/>
			</label>

			<label class="item item-input">
			<input ng-model="glob.user.email" placeholder="Email Address* You will sign in to your account with your email address." type="email" ng-required="true"/>
			</label>

			<label class="item item-input">
			<input ng-model="glob.user.password" placeholder="Password*" type="password" ng-required="true"/>
			</label>

			<label class="item item-input">
			<input ng-model="glob.user.confirmPassword" placeholder="Confirm Password*" type="password" ng-required="true"/>
			</label>

		<div ng-show="!(glob.user.password === glob.user.confirmPassword)">Your passwords must match.</div>

		<button type="submit" class="button" ng-disabled="!glob.user.firstName || !glob.user.lastName || !glob.user.email || !glob.user.password || !(glob.user.password === glob.user.confirmPassword)">Sign Up</button>
	</form>

</div>