<div ng-controller="ContactsController as vm" id="contacts" class="container">
<h1>Add Contact</h1>

<form ng-submit="vm.addContact(vm.newContact);">
  <input type="text" placeholder="First Name" ng-model="vm.newContact.firstName" />
  <input type="text" placeholder="Last Name" ng-model="vm.newContact.lastName" />
  <input type="email" placeholder="Email Address" ng-model="vm.newContact.email" />
  <div>
    <input type="checkbox" class="inline" ng-model="extras" >
    <label class="inline">Extra Information</label>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <input type="text" ng-disabled="!extras" placeholder="Profile Picture" ng-model="vm.newContact.profilePic" />
      <input type="text" ng-disabled="!extras" placeholder="Phone Number" ng-model="vm.newContact.phone" />
      <input type="text" ng-disabled="!extras" placeholder="Skype" ng-model="vm.newContact.skype" />
    </div>
    <div class="col-sm-6">
      <input type="text" ng-disabled="!extras" placeholder="LinkedIn Profile Url" ng-model="vm.newContact.linkedIn" />
      <input type="text" ng-disabled="!extras" placeholder="Facebook Url" ng-model="vm.newContact.facebook" />
      <input type="text" ng-disabled="!extras" placeholder="Google+ Url" ng-model="vm.newContact.google" />
    </div>
    <textarea ng-disabled="!extras" ng-model="vm.newContact.bio" placeholder="Bio"></textarea>
  </div>
  <button type="submit" class="btn btn-success">Save Contact</button>
  <button type="button" class="btn btn-danger" ui-sref="Contacts" ng-click="vm.newContact = {};">Cancel</button>
</form>

</div>
