<div ng-controller="CirclesController as vm" id="circles" class="container">
  <div ng-repeat="c in vm.circles"> <!-- vm.circles (in plural is for displaying) -->
    <h2>Add Existing or new Contacts to your <span style="Black">{{c.title}}</span> Circle</h2>
    <h5>You can add <span style="Black">{{c.pieces}}</span> Contacts to your Circle now, If you change your mind you can allways edit.</h5>
  </div>

<!-- __________________Add Contacts to Circle__________________ -->

<form ng-submit="vm.addContactCircle(vm.newContact);">
      <input type="text" placeholder="First Name" ng-model="vm.newContact.firstName" />
      <input type="text" placeholder="Last Name" ng-model="vm.newContact.lastName" />
      <input type="email" placeholder="Email Address" ng-model="vm.newContact.email" />
Extra Information
<input type="checkbox" ng-model="extras" >

<div ng-show="extras">
    <input type="text" ng-disabled="!extras" placeholder="Profile Picture" ng-model="vm.newContact.profilePic" />
    <input type="text" ng-disabled="!extras" placeholder="Phone Number" ng-model="vm.newContact.phone" />
    <input type="text" ng-disabled="!extras" placeholder="Skype" ng-model="vm.newContact.skype" />
    <input type="text" ng-disabled="!extras" placeholder="LinkedIn Profile Url" ng-model="vm.newContact.linkedIn" />
    <input type="text" ng-disabled="!extras" placeholder="Facebook Url" ng-model="vm.newContact.facebook" />
    <textarea ng-disabled="!extras" ng-model="vm.newContact.bio" placeholder="Bio"></textarea>
</div>

<button type="submit" class="btn btn-success">Save Circle</button>
<button type="button" class="btn btn-danger" ui-sref="Circles" ng-click="vm.newContact = {};">Cancel</button>
</form>

</div>
