<div ng-controller="ContactsController as vm" id="contacts" class="container" ng-init="isMember = true;">
<h1>Add Contact</h1>

<p ng-show="vm.errorText">{{ vm.errorText }}</p>

<form ng-show="isMember === true" ng-submit="vm.sendRequest(vm.emailReq)">
  <h3>GetFul Members</h3>
  <input type="email" placeholder="Email Address" ng-model="vm.emailReq" />
  <button type="submit" class="btn btn-success" ng-disabled="!vm.emailReq">Send Request</button>
  <hr>
  <h3>Non-GetFul Members</h3>
  <button type="button" class="btn btn-danger" ng-click="isMember = false;" style="margin-top: .5vh">Create Contact</button>
</form>


<form ng-if="isMember === false" ng-submit="vm.handleAddForm(vm.newContact, vm.newContact.skill);">
  <div class="col-xs-12">
    <input type="text" placeholder="First Name" ng-model="vm.newContact.firstName" />
    <input type="text" placeholder="Last Name" ng-model="vm.newContact.lastName" />
    <input type="email" placeholder="Email Address" ng-model="vm.newContact.email" />
    <input type="text" placeholder="Job Title" ng-model="vm.newContact.title" />
    <input type="text" placeholder="Skills" ng-model="vm.newContact.skill" />
    <div class="text-left" ng-show="vm.newContact.skills.length > 0">
      <h3>Skills: </h3>
    </div>
    <div class="skill" ng-repeat="skill in vm.newContact.skills" ng-click="vm.deleteSkill(skill);">
      <h5 class="inline" style="margin: 1em;">{{ skill }}</h5>
    </div>
  </div>

  <div>
    <label class="inline">Extra Information
        <input type="checkbox" class="inline" ng-model="extras">
    </label>
  </div>

  <div class="row" ng-show="extras">
    <div class="col-xs-6">
      <input type="text" ng-disabled="!extras" placeholder="Profile Picture" ng-model="vm.newContact.profilePic" />
      <input type="text" ng-disabled="!extras" placeholder="Phone Number" ng-model="vm.newContact.phone" />
      <input type="text" ng-disabled="!extras" placeholder="Skype" ng-model="vm.newContact.skype" />
    </div>
    <div class="col-xs-6">
      <input type="text" ng-disabled="!extras" placeholder="LinkedIn Profile Url" ng-model="vm.newContact.linkedIn" />
      <input type="text" ng-disabled="!extras" placeholder="Facebook Url" ng-model="vm.newContact.facebook" />
      <input type="text" ng-disabled="!extras" placeholder="Google+ Url" ng-model="vm.newContact.google" />
    </div>
    <div class="col-xs-12">
      <textarea ng-disabled="!extras" ng-model="vm.newContact.bio" placeholder="Bio"></textarea>
    </div>
  </div>
  <br>
  <button type="submit" class="btn btn-success" ng-disabled="!vm.newContact.firstName && !vm.newContact.lastName">Save Contact</button>
  <button type="button" class="btn btn-danger" ng-click="vm.newContact = {}; $parent.isMember = true;">Cancel</button>
</form>

</div>
