<div ng-controller="ContactsController as vm" id="contacts" class="container">
<h1>CONTACTS PAGE</h1>

  <button type="button" ui-sref="AddContact" class="btn btn-success">Add Contact</button>

<hr>

<div ng-repeat="contact in vm.contacts" class="row contact">
  <div class="col-xs-3">
    <img ng-src="{{contact.profilePic}}" alt="Profile Picture" class="img img-responsive" />
  </div>
  <div class="col-xs-9">
    <p>{{ contact.firstName }}  {{ contact.lastName }}</p>
    <p>{{ contact.email }}</p>
  </div>
  <button type="button" class="btn btn-warning edit" ng-click="vm.editContact(contact);">Edit</button>
  <button type="button" class="btn btn-danger delete" ng-click="vm.deleteContact(contact._id);">Delete</button>
</div>



</div>
