<div ng-controller="CirclesController as vm" id="circles" class="container">
<h1>Create Circles</h1>
      <!-- ________This Input Is to Add a Circle(choose pieces) and title _____________ -->
<form ng-submit="vm.createCircle()">
     <md-input-container>
       <label> What is the Title of your Circle? </label>
       <input ng-model="vm.circle.title" type="text" ng-required="true">
     </md-input-container>
     <md-input-container>
        <label>How many pieces do you want in your Contacts Circle?</label>
        <md-select ng-model="vm.circle.pieces" ng-required="true">
            <md-option value='2'>2</md-option>
            <md-option value='4'>4</md-option>
            <md-option value='6'>6</md-option>
            <md-option value='8'>8</md-option>
            <md-option value='10'>10</md-option>
            <md-option value='14'>14</md-option>
            <md-option value='18'>18</md-option>
            <md-option value='24'>24</md-option>
            <md-option value='30'>30</md-option>
       </md-select>
      </md-input-container>
  <button type="submit" class="btn btn-success">Next Step, add people!</button>
</form>

</div>
