<div ng-controller="ContactsController as vm" id="contacts" class="container">
<h1>Editar Contacto</h1>

<form ng-submit="vm.saveContact(vm.tempContact);">
  <div class="col-xs-6">
      <input type="text" placeholder="Nombre" ng-model="vm.tempContact.firstName" />
  </div>
  <div class="col-xs-6">
      <input type="text" placeholder="Apellido" ng-model="vm.tempContact.lastName" />
  </div>
  <input type="email" placeholder="Correo Electrónico" ng-model="vm.tempContact.email" />
  <input type="text" placeholder="Título/Posición" ng-model="vm.tempContact.title" />
  {{ vm.tempContact.skills }}
  <form>
    <input type="text" placeholder="Habilidades" ng-model="vm.tempContact.skills" />
  </form>
  <div ng-init="extras = true">
    <label class="inline">Información Adicional</label><br>
    <input type="checkbox" class="inline" ng-model="extras" >
  </div>
  <div class="row" ng-show="extras">
    <div class="col-sm-6">
      <input type="text" ng-disabled="!extras" placeholder="Foto de Perfíl" ng-model="vm.tempContact.profilePic" />
      <input type="text" ng-disabled="!extras" placeholder="Celular" ng-model="vm.tempContact.phone" />
      <input type="text" ng-disabled="!extras" placeholder="Skype" ng-model="vm.tempContact.skype" />
    </div>
    <div class="col-sm-6">
      <input type="text" ng-disabled="!extras" placeholder="Enlace de LinkedIn" ng-model="vm.tempContact.linkedIn" />
      <input type="text" ng-disabled="!extras" placeholder="Enlace de Facebook" ng-model="vm.tempContact.facebook" />
      <input type="text" ng-disabled="!extras" placeholder="Enlace de Google+" ng-model="vm.tempContact.google" />
    </div>
    <textarea ng-disabled="!extras" ng-model="vm.tempContact.bio" placeholder="Bio"></textarea>
  </div>
  <br>
  <button type="submit" class="btn btn-success">Salvar Contacto</button>
  <button type="button" class="btn btn-danger" ui-sref="ContactsEs" ng-click="vm.tempContact = {};">Cancelar</button>
</form>

</div>
