<div ng-controller="ProfileController as vm" layout layout-align="center">
<div layout="column" flex="75">
	<form ng-submit="vm.updateProfileEs();">
	<div layout="column">
		<h1>Editar Perfil</h1>
		<input ng-model="vm.profile.firstName" placeholder="Nombre"/><br/>
		<input ng-model="vm.profile.lastName" placeholder="Apellido"/><br/>
		<input ng-model="vm.profile.phoneNumber" placeholder="Celular"/><br/>
		<input ng-model="vm.profile.skills" placeholder="Habilidades"/><br/>
		<textarea ng-model="vm.profile.bio" placeholder="Bio"></textarea><br/>
		<input ng-model="vm.profile.linkedInUrl" placeholder="Enlace a 'LinkedIn' "/><br/>
		<input ng-model="vm.profile.profilePic" placeholder="Foto de Perfile"/><br/> <!-- PHOTO WITH URL -->

<!-- THIS WORKS WITH UPLOAD PHOTO - CLOUDINARY -->
		<!-- <md-button ng-click="photoUpload = true;"> Upload Profile Image </md-button> -->
			<div>
				<ng-form name="form">
						<div>
							<md-button class=" md-raised" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" ngf-resize="{width: 600, height: 600}" THIS APPLIES MAX SIZE TO PHOTO ngf-min-height="100">Eligir Foto</md-button>
						</div>

						<h4>Así se ve tu imagen</h4>
						<img style="width: 200px; height: 200px;" ngf-thumbnail="file || '/thumb.jpg'"><br/>
						<md-button ng-click="submit()"> Subir foto </md-button>
				</ng-form>

				<div style="margin: auto;" ng-show='vm.loading' layout='row' layout-sm='column' layout-align='space-around'>
					<md-progress-circular md-mode='indeterminate' md-diameter='80'></md-progress-circular>
				</div>

			</div>
<!-- END UPLOAD PHOTO w CLOUDINARY -->

		<md-button type="submit"> Cambiar Perfil </md-button>
	</div>

	</form>
	</div>

</div>
