<div ng-controller="RequestsController as vm" id="requests" class="container">
<h1>Edit Request</h1>

<form ng-submit="vm.saveRequest(vm.tempRequest);">
  <label>Who Can See My Request?</label>
  <select ng-model="vm.tempRequest.privacy">
   <option value="Global">Everyone</option>
   <option value="Contacts">Contacts Only</option>
   <option value="Babysitters">Babysitters Only</option>
   <option value="Select">Select People...</option>
  </select>
  <input type="text" placeholder="Title" ng-model="vm.tempRequest.title" />
  <textarea ng-model="vm.tempRequest.body" placeholder="Comments"></textarea>
  <br>
  <input type="text" placeholder="Skills" ng-model="vm.tempRequest.skills" />
  <br>
  <button type="submit" class="btn btn-success">Save Request</button>
  <button type="button" class="btn btn-danger" ui-sref="Requests" ng-click="vm.tempRequest = {};">Cancel</button>
</form>

</div>
