<!--  FORGOT PASSWORD- RESET PASSWORD with EMAIL -->
<!-- <div ng-show="vm.forgotPassword" style="margin-top:150px"> -->

<h1> Forgot your password? Type your Email here to send you a link </h1>

            <md-input-container>
            <label style="padding-left: 25%;" class="col-md-4">Type in Email :</label>
              <input class="form-control" placeholder="Confirm Password..." required ng-model="glob.user.email" />
            </md-input-container>

            <div class='col-md-4'>
              <button class='btn btn-success btn-block' type="submit" ng-click="glob.sentPassword=true; glob.forgot()">Submit</button>
            </div>


        <div class="text-success" ng-show="glob.sentPassword">
          <h3>Please, check your email.</h3.
        </div>
