<!-- inside the global controller on index -->
<div id="home" class="container">
<h1>HOME PAGE</h1>
<div layout>
	<div flex>
		<h4>English</h4>
		<md-button ui-sref="SignUp">Sign Up</md-button></br>
		<!-- <md-button href="/api/user/auth/linkedin">Sign Up with Linked In</md-button></br> -->
		<md-button ui-sref="SignIn">Sign In</md-button></br>
		<md-button ng-click="glob.logout()" >Logout</md-button>

	</div>
	<div flex>
		<h4>Español</h4>
		<md-button ui-sref="SignUpEs">Registrar</md-button></br>
		<!-- <md-button href="/api/user/auth/linkedin">Linked In Español</md-button></br> -->
		<md-button ui-sref="SignInEs">Iniciar Sesión</md-button></br>
		<md-button ng-click="glob.logout()" >Cerrar Sesión</md-button>
	</div>
</div>


</div>
