<!-- what controller?-->

<p> this page is the user's public profile page. it includes. it is different from their account page where they can access their profile, but also access other settings, and delete their acct, and logout and change their password.</p

<div ng-controller="ProfileController as vm">Profile
	<div class="profile" layout>
	  <div style="border:1px">
	  	<img src="img.jpg" width="150px"/>
	  	<img src="{{ profile.profilePic }}"/>
	  </div>
	  <div>
		  <p>{{ vm.profile.firstName || "first name"}} {{ vm.profile.lastName || "last name"}}</p>
		  <p>{{ vm.profile.skills }}</p>
		  <md-button type="button" ng-click="vm.editProfile();">Edit Profile</md-button>
	  </div>
	</div>

</div>


