<div ng-controller="RequestsController as vm" class="container text-center">

  <h1>Refer</h1>

  <div class="row">
    <div class="col-xs-6 text-right">
      <div class="circle" style="height: 17.5vh; width: 17.5vh"></div>
    </div>
    <div class="col-xs-6 text-left">
      <input type="text" placeholder="Name" ng-model="" style="margin: 1em 0">
      <input type="text" placeholder="Job Title" ng-model="" style="margin: 1em 0">
      <input type="email" placeholder="Email" ng-model="" style="margin: 1em 0">
    </div>
  </div>



  <br>
  <br>


  <!-- NOT WORKING GIVING ME THA TRUBZ -->
  <div class="">
    <div class="circle" ng-click="openCircle = true" ng-repeat="i in [1,2,3,4,5,6]" style="height: 7.5vh; width: 7.5vh"></div>
    <div class="" ng-show="openCircle === true">
      <br>
      <div class="circle" style="height: 5vh; width: 5vh"></div>
      <div class="circle" style="height: 5vh; width: 5vh"></div>
      <div class="circle" style="height: 5vh; width: 5vh"></div>
    </div>
  </div>



  <hr>

  <input type="text" placeholder="Search" ng-model="searchContact" style="margin: 0 auto">

  <div class="shade" style="border: solid 2px white; width: 11vw; padding: 1em; margin: 0 auto;" ng-show="searchContact">
    <div ng-repeat="contact in vm.contacts | filter:searchContact" >
      <div class="circle" style="height: 5vh; width: 5vh"></div><br />
      {{ contact.email }}
    </div>
  </div>

  <br>

  <button type="button" ui-sref="requests" class="btn btn-success">Send Referral</button>
  <button type="button" ui-sref="Requests" class="btn btn-danger">Cancel</button>

</div>
