<div ng-controller="RequestsController as vm" class="container text-center" id="refer">

  <h1>Refer Contacts</h1>

  <div class="row">
    <div class="col-xs-6 text-right">
      <div class="circle" ng-if="!vm.new.profilePic" style="height: 17.5vh; width: 17.5vh; background: rgba(0,0,0,.1);"></div>
      <div class="circle" ng-if="vm.new.profilePic" style="height: 17.5vh; width: 17.5vh; background: url('{{ vm.new.profilePic }}'); border:solid 2px white;"></div>
    </div>
    <div class="col-xs-6 text-left">
      <div class="col-xs-6">
        <input type="text" placeholder="First Name" ng-model="vm.new.firstName" class="inline" style="margin: 1em .5vw 0 0; width: 47%;">
        <input type="text" placeholder="Last Name" ng-model="vm.new.lastName" class="inline" style="margin: 1em 0 0 0; width: 47%;">
<input type="email" placeholder="Email" ng-model="vm.new.email" style="margin: 1em 0">
        <input type="text" placeholder="Job Title" ng-model="vm.new.title" style="margin: 1em 0">
        <input type="text" placeholder="Skills" ng-model="vm.new.skill" style="margin: 1em 0">

      </div>
      <div class="col-xs-6" ng-show="extras">
        <input type="text" placeholder="Phone" ng-model="vm.new.phone" class="inline" style="margin: 1em .5vw 0 0;">
        <input type="text" placeholder="Skype" ng-model="vm.new.skype" class="inline" style="margin: 1em 0 0 0;">
        <input type="text" placeholder="Facebook" ng-model="vm.new.facebook" style="margin: 1em 0">
        <input type="text" placeholder="LinkedIn" ng-model="vm.new.linkedIn" style="margin: 1em 0">
        <input type="text" placeholder="Google+" ng-model="vm.new.google" style="margin: 1em 0">
      </div>
    </div>
  </div>
  <div class="row">
    <input type="checkbox" ng-click="extras = !extras" style="margin: 0 auto;">
    <div class="col-xs-12 text-center">
      <p>More Options</p>
    </div>
    <div class="col-xs-12 text-center">
      <p ng-show="vm.errorText" style="color: #ffff9d;">{{ vm.errorText }}</p>
      <button type="button" class="btn btn-success" ng-click="vm.addContact(vm.new);" ng-disabled="!vm.new.firstName && !vm.new.lastName">Add Contact</button>
    </div>
  </div>
  <br>


  <hr>
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div ng-show="!openCircle">
      <div class="text-center">
        <br>
        <h3>Circles</h3>
      </div>
      <br>
      <div ng-repeat="circle in vm.circles" class="text-left" style="width: 50%; display: inline-block">
        <div class="circle" style="height: 7.5vh; width: 7.5vh" ng-click="$parent.openCircle = !$parent.openCircle; vm.newMembers = circle.members;" ></div>
        <p class="inline" style="vertical-align: 2vw; margin-left: 1vw;">{{circle.chartTitle}}</p>
      </div>
    </div>
    <div ng-show="openCircle" >
      <br>
      <h3>Circles</h3>
      <div ng-repeat="member in vm.newMembers" class="text-left">
        <div class="circle"  ng-click="$parent.openCircle = !$parent.openCircle; vm.new = member" style="height: 7.5vh; width: 7.5vh; background-image: url('{{ member.profilePic }}'); background-size: contain; background-repeat: no-repeat;"></div>
        <p class="inline" style="vertical-align: 2vw; margin-left: 1vw;">{{ member.firstName }} {{ member.lastName }}</p>
      </div>

    </div>


  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="text-center" style="width: 50%;">
      <br>
      <h3>Search Contacts</h3>
    </div>
    <br>
    <input type="text" placeholder="Search" ng-model="searchContact" style="margin: 0;">
    <div class="shade" style="border: solid 2px white; width: 50%; padding: 1em; margin: 0;" ng-show="searchContact">
      <div ng-repeat="contact in vm.contacts | filter:searchContact | limitTo:3" class="select text-right" ng-click="vm.pushContact(contact)">
        <div class="circle inline pull-left" style="height: 5vh; width: 5vh; background-image: url('{{contact.profilePic}}'); background-size: contain; background-repeat: no-repeat;"></div>
        <div class="inline pull-right ">
          <h5>{{ contact.firstName }} {{ contact.lastName }}</h5>
          <p class="small">{{ contact.email }}</p>
        </div>
        <div class="clearfix"></div>
        <br>
      </div>
    </div>
  </div>
</div>

  <hr>

  <div ng-if="vm.refContacts.length > 0" class="text-left">
    <h3>Contacts: </h3>
    <div ng-repeat="refContact in vm.refContacts" class="inline" style="margin: 1em;">
      <p class="inline" style="margin: 1em;">{{ refContact.firstName }} {{ refContact.lastName }}</p>
      <button type="button" ng-click="vm.removeContact(refContact)">X</button>
    </div>
  </div>

  <br>

  <textarea placeholder="Comments" ng-model="vm.referral.comments"></textarea>

  <button type="button" class="btn btn-success" ng-disabled="vm.refContacts.length === 0" ng-click="vm.sendReferral();">Send Referral</button>
  <button type="button" ui-sref="Requests" class="btn btn-danger">Cancel</button>

</div>
