<div ng-controller="RequestsController as vm" id="requests" class="container">
<h1>REQUESTS PAGE</h1>
<button type="button" ui-sref="AddRequest" class="btn btn-success">Add Request</button>
<hr>
<div ng-repeat="request in vm.requests" class="contact">
  <p>{{ request.title }}</p>
  <p>{{ request.body }}</p>
  <button type="button" class="btn btn-warning edit" ng-click="vm.editRequest(request);">Edit</button>
  <button type="button" class="btn btn-danger delete" ng-click="vm.deleteRequest(request._id);">Delete</button>
</div>
</div>
