<div ng-controller="RequestsController as vm" id="requests" class="container">
<h1>REQUESTS PAGE</h1>
<button type="button" ui-sref="AddRequest" class="btn btn-success">Add Request</button>
<hr>
<input type="text" ng-model="searchRequests" class="searchBar" placeholder="Search Requests"/>
<div ng-repeat="request in vm.requests | filter:searchRequests" class="request">
  <h3>{{ request.title }}</h3>
  <p>{{ request.body }}</p>
  <p class="small"><em>{{ request.privacy }}</em></p>
  <img src="http://s9.postimg.org/42jxt0jb3/edit.png" class="edit" ng-click="vm.editRequest(request);" alt="Edit Icon" />
  <img src="http://s9.postimg.org/4e1e5rzr3/delete.png" class="delete" ng-click="vm.deleteRequest(request._id);" alt="Delete Icon" />
</div>
</div>
