<!-- Global controller -->

<h1> Change your Password </h1>
<form ng-submit="glob.resetPassword()">
     <md-input-container>
       <label>Type in New Password </label>
       <input ng-model="glob.user.password" type="text" ng-required="true">
     </md-input-container>

     <md-input-container>
       <label>Confirm New Password </label>
       <input ng-model="glob.user.confirmPassword" type="text" ng-required="true">
     </md-input-container>

     <md-button type="submit"> Update Password </md-button>
</form>
