<!--  FORGOT PASSWORDES- RESET PASSWORD with EMAIL -->
<!-- <div ng-show="vm.forgotPassword" style="margin-top:150px"> -->

<h1> Olvidaste tu contraseña? Escribe tu email registrado en la cuenta para enviar un enlace. </h1>

            <md-input-container>
            <label style="padding-left: 25%;" class="col-md-4">Escribe tu correo:</label>
              <input class="form-control" placeholder="Confirm Password..." required ng-model="glob.user.email" />
            </md-input-container>

            <div class='col-md-4'>
              <button class='btn btn-success btn-block' type="submit" ng-click="glob.sentPassword=true; glob.forgotEs()">Enviar</button>
            </div>


        <div class="text-success" ng-show="glob.sentPassword">
          <h3>Por favor, revisa tu correo.</h3.
        </div>
