/* Fonts */
/* We Will Delete These Later When We Decide What We Want */
@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Poppins);

/* Globals */

body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  padding-bottom: 15vh;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#beeb9f+0,79bd8f+100 */
  background: #beeb9f; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #beeb9f 0%, #79bd8f 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  #beeb9f 0%,#79bd8f 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  #beeb9f 0%,#79bd8f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#beeb9f', endColorstr='#79bd8f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  background-size: cover;
  background-attachment: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  color: #00A388;
  font-family: 'Poppins', sans-serif;
}
hr {
    border-color: #FFFF9D;
}
::selection {
  background: rgba(0,0,0,.1); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgba(0,0,0,.1); /* Gecko Browsers */
}

/* Headings */

h1 {
  margin: 0;
  padding: 1em 0;
  color: #FF6138;
  font-family: 'Righteous', cursive;
}
h3 {
  margin-top: 0;
  color: white;
}
h4 {
  font-style: italic;
}


/* Inputs */

input {
  display: block;
  outline: none;
  border: none;
  padding: .5em;
  background: rgba(0,0,0,.1);
  color: white;
}
textarea {
  display: block;
  outline: none;
  border: none;
  background: rgba(0,0,0,.1);
  color: white;
}
.btn-danger {
  background: #FF6138;
}
.btn-danger:hover {
  background: #D6512F;
}
.btn-warning {
  background: #FFFF9D;
  color: #00A388;
  border: none;
}
.btn-warning:hover {
  background: #DEDE89;
  color: #00A388;
}
.btn-success {
  background: #B7E39A;
  color: green;
}
.btn-success:hover {
  background: #79BD8F;
  color: #FFFF9D;
}
::-webkit-input-placeholder {
   color: #FFFF9D;
}
:-moz-placeholder { /* Firefox 18- */
   color: #FFFF9D;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #FFFF9D;
}
:-ms-input-placeholder {
   color: #FFFF9D;
}




/* Navigation */

nav {
  position: fixed;
  width: 100%;
  bottom: 0;
  margin: 0;
  border-top: solid 4px #FFFF9D;
  text-align: center;
}
.navlink {
  background: #00A388;
  box-shadow: inset 0px 0px 50px rgba(0,0,0,.2);
  color: white;
  height: 12.5vh;
  position: relative;
  cursor: pointer;
}
.navlink:hover {
  background: #79BD8F;
}
.navlink img {
  position: relative;
  max-height: 80%;
  max-width: 80%;
}




/* User Bar */
#userbar {
  background-color: #00A388;
  box-shadow: 0px 0px 10px rgba(0,0,0,.1);
  color: white;
  text-align: right;
  height: 3vh;
  padding: .5em 1em 0 0;
  border-bottom: solid 4px #FFFF9D;
}
#userbar a {
  color: #FFFF9D;
}
#userbar a:hover {
  text-decoration: none;
  color: white;
}




/* Home */

#home {
  text-align: center;
}

#home img {
  padding: 0;
  margin: 0;
  height: 5em;
  width: 5em;
}





/* Dashboard */

#dashboard {
  text-align: center;
}





/* Contacts */

#contacts {
  text-align: center;
}
#contacts input, #contacts textarea {
  width: 100%;
  height: 2em;
  margin: 1em auto;
  font-size: 1.5em;
}
#contacts textarea {
  height: 15vh;
  resize: none;
}
.contact {
  width: 100%;
  height: auto;
  background: rgba(0,0,0,.1);
  margin: 1em auto;
  padding: 1em 0;
  color: #FFFF9D;
  position: relative;
  text-align: left;
}
.contact:hover {
  background: rgba(0,0,0,.2);
}
.contact img {
  position: relative;
  max-height: 10vh;
  max-width: 10vw;
  margin: .5em auto;
}
.socialIcons {
  position: absolute;
  top: 3em;
  right: 1em;
}
.socialIcons img {
  max-height: 2em;
  max-width: 2em;
  margin: .25em 0;
  cursor: pointer;
}




/* Circles */

#circles {
  text-align: center;
}
#circles input, #circles textarea {
  width: 75%;
  height: 2em;
  margin: 1em auto;
  font-size: 1.5em;
}
#circles textarea {
  height: 15vh;
  resize: none;
}
.circle {
  display: inline-block;
  padding: 4em 0 0 0;
  text-align: center;
  width: 15em;
  height: 15em;
  margin: 2.5%;
  color: #FFFF9D;
  border-radius: 50%;
  background: rgba(0,0,0,.1);
}



/* Requests */
#requests {
  text-align: center;
}
#requests input, #requests textarea {
  width: 100%;
  height: 2em;
  margin: 1em auto;
  font-size: 1.5em;
}
#requests textarea {
  height: 15vh;
  resize: none;
}
.request {
  background: rgba(0,0,0,.1);
  margin: 1em auto;
  padding: 1em;
  color: #FFFF9D;
  position: relative;
  text-align: left;
}
.request:hover {
  background: rgba(0,0,0,.2);
}


/* Classes */

.inline {
  display: inline;
}
img.delete {
  position: absolute;
  top: 1em;
  right: 1em;
  max-height: 1.5em;
  max-width: 1.5em;
}
img.edit {
  position: absolute;
  top: 1em;
  right: 3.5em;
  max-height: 1.5em;
  max-width: 1.5em;
}
.searchBar {
  width: 75%;
}


/* Ids */
