/* Fonts */
/* We Will Delete These Later When We Decide What We Want */
@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Poppins);

/* Globals */
* {
  outline: none;
}
html {
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  height: auto;
  margin: 0;
  padding-bottom: 5vh;
  background: url("/assets/bg-flipped.jpg");
  background-size: cover;
  background-attachment: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  cursor: default;
  font-size: 1vh;
}
li {
  list-style-type: none;
}
hr {
    border-color: #fff;
}
::selection {
  background: rgba(0,0,0,.1); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgba(0,0,0,.1); /* Gecko Browsers */
}
label {
  color: white;
}
a:focus, a:active {
  text-decoration: none;
}

/* Headings */

h1 {
  margin: 0;
  padding: 1em 0;
  color: #FFFF9D;
  font-family: 'Righteous', cursive;
}
h3 {
  margin-top: 0;
  font-family: 'Righteous', cursive;
  color: white;
}
h4 {
  font-style: italic;
  color: #FFFF9D;
}


/* Inputs */

input {
  display: block;
  outline: none;
  border: none;
  padding: .5em;
  background: rgba(0,0,0,.1);
  color: white;
}
input[type='checkbox'] {
  font-size: .8em !important;
}
textarea {
  display: block;
  outline: none;
  border: none;
  padding: .5em;
  background: rgba(0,0,0,.1);
  color: white;
}
select {
  outline: none;
  border: none;
  background: rgba(0,0,0,.1);
  height: 2.5em;
  padding: .25em;
  color: white;
}
select option {
  background: #00A388;
  color: white;
}
.btn {
  border-radius: 1em;
}
.btn-danger {
  background: #FF6138;
  color: white;
  border: none;
}
.btn-danger:hover {
  background: #D6512F;
  color: #fff;
  border: none;
}
.btn-warning {
  background: #FFFF9D;
  color: #00A388;
  border: none;
}
.btn-warning:hover {
  background: #DEDE89;
  color: #00A388;
}
.btn-success {
  background: #F2B132 !important;
  color: white;
  border: none;
  outline: none !important;
}
.btn-success:hover {
  background: #cb9428 !important;
  color: #fff;
  border: none;
}
.btn-info:hover, .btn-info:active  {
  background: #cb9428 !important;
  color: #fff;
  border: none;
}
.btn-info, .btn-info:focus{
  background: #F2B132 !important;
  color: white;
  border: none;
  outline: none !important;
}
::-webkit-input-placeholder {
   color: #FFFF9D;
   font-style: italic;
   font-weight: 100;
}
:-moz-placeholder { /* Firefox 18- */
   color: #FFFF9D;
   font-style: italic;
   font-weight: 100;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #FFFF9D;
   font-style: italic;
   font-weight: 100;
}
:-ms-input-placeholder {
   color: #FFFF9D;
   font-style: italic;
   font-weight: 100;
}
::-webkit-scrollbar {
    width: 1.8em;
    background-color: rgba(0,0,0,0);
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: rgba(0,0,0,0);
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3em rgba(0,0,0,0.3);
    background-color: rgba(0,0,0,0);
}



/* Navigation */

#desktopNav {
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: none;
  padding: 0;
  position: fixed;
  height: 7vh;
  background: url("/assets/bg-flipped.jpg");
  background-size: cover;
  z-index: 999999;
  box-shadow: 0px 0px 35px rgba(0,0,0,.2);
  top: 0;
}
#desktopNav img {
  margin: 0;
  padding: 0;
  max-height: 6vh;
  max-width: 6vw;
}
.desknav {
  position: relative;
  height: 7vh;
  margin: 0;
  padding: .5em;
}
.desknav p {
  margin-left: .5em;
  padding: 0;
  font-size: 1.5vh;
}
.desknav:hover {
  cursor: pointer;
  background: rgba(0,0,0,.2);
}





nav {
  position: fixed;
  width: 100%;
  height: 12.5vh;
  bottom: 0;
  margin: 0;
  text-align: center;
  border-top: solid 2px #fff;
  font-size: 2vw;
}
.navlink {
  background: #79BD8F;
  box-shadow: inset 0px 0px 150px rgba(0,0,0,.3), 0px -10px 30px rgba(0,0,0,.1);
  border-left: solid 1px #fff;
  border-right: solid .25px #fff;
  color: white;
  height: 12.5vh;
  position: relative;
  cursor: pointer;
}
.navlink:hover {
  background: #00A388;
}
.navlink img {
  position: relative;
  margin: 0 auto;
  max-height: 80%;
  max-width: 80%;
}




/* User Bar */
#userbar {
  display: none;
  background: url("/assets/bg-flipped.jpg");
  background-size: cover;
  box-shadow: inset 0px 0px 75px rgba(0,0,0,.5);
  color: white;
  text-align: right;
  height: 4vh;
  padding-top: .5em;
  z-index: 9999;
}
#userbar img {
  max-height: 2vh;
  max-width: 2vw;
}
#userbar a {
  color: #FFFF9D;
}
#userbar a:hover {
  text-decoration: none;
  color: white;
}
#userbar p {
  display: inline;
  margin-right: 1em;
  padding-top: 5em;
  font-size: 1vh;
}
#userbarDropDown {
  background: rgba(0,0,0,.1);
  background-size: cover;
  box-shadow: inset 0px 0px 175px rgba(0,0,0,.2), 0px -5px 15px rgba(0,0,0,.3);
  color: white;
  position: absolute;
  width: 15%;
  margin: 0;
  margin-right: 2em;
  top: 0vh;
  right: 0vh;
}
#dropDownWrapper {
  display: none;
  position: relative;
  padding: 0;
  text-align: right;
  margin: 0 auto;
  z-index: 999999;
}
#userbarDropDown ul {
  margin: 0;
  padding: 1em;
}
#userbarDropDown li {
  margin: .5em;
}
#userbarDropDown li:hover {
  color: #FFFF9D;
}


/* Home */

#home {
  text-align: center;
}

#home img {
  padding: 0;
  margin: 0;
  height: 5em;
  width: 5em;
}





/* Dashboard */

#dashboard {
  text-align: center;
}
#dashboard a {
  color: #ffff9d;
  text-decoration: none;
}
#dashboard a:hover {
  color: #fff;
}
#dashboard .circle {
  height: 3vw;
  width: 3vw;
}




/* Contacts */

#contacts {
  text-align: center;
}
#contacts input, #contacts textarea {
  width: 100%;
  height: 2em;
  margin: 1em auto;
  font-size: 1.5em;
}
#contacts textarea {
  height: 15vh;
  resize: none;
}
.contact {
  width: 100%;
  height: auto;
  background: rgba(0,0,0,.1);
  margin: 1em auto;
  padding: 2em 0;
  color: #fff;
  position: relative;
  text-align: left;
}
.contact:hover {
  background: rgba(0,0,0,.2);
}
.contact img {
  position: relative;
  max-height: 10vh;
  max-width: 10vw;
  margin: .5em auto;
}
.contactBio {
  height:10vh;
  line-height:2em; /* Height / no. of lines to display */
  overflow:hidden;
}
.socialIcons {
  position: absolute;
  top: 3.5em;
  right: 1em;
}
.socialIcons img {
  max-height: 2em;
  max-width: 2em;
  margin: .5em .25em;
  cursor: pointer;
}




/* Circles */

#circles {
  text-align: center;
}
#circles input, #circles textarea {
  width: 75%;
  height: 2em;
  margin: 1em auto;
  font-size: 1.5em;
}
#circles textarea {
  height: 15vh;
  resize: none;
}
#circles .circle {
  height: 5vw;
  width: 5vw;
}
#addToCircleBar {
  position: fixed;
  height: 65vh;
  width: auto;
  bottom: 12.5vh;
  left: 0;
}
#circleBarContent {
    position: absolute;
    box-shadow: 0px 0px 30px rgba(0,0,0,.3);
    background: url("/assets/bg-flipped.jpg");
    background-size: cover;
    left: -50vw;
    width: 50vw;
    height: 65vh;
    transition: .2s;
    overflow-x: hidden;
    overflow-y: auto;
}
#circleBarContent.menuOpen {
    transition: .5s;
    left: 0;
}
#circleBarContent .content {
    position: relative;
    height: 100vw;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    bottom: 9;
}
#circleBarContent input {
  width: 85%;
}
#circleBarContent button {
    position: absolute;
    left: 20vw;
    bottom: 3vw;
}
#circleBarMenuText {
    width: 5vw;
    position: absolute;
    bottom: 25vh;
}
.circlesContact:hover {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  color: #ffff9d;
  background: rgba(0,0,0,.1);
}
#createContainer {
  height: 65vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}




/* Requests */
#requests {
  text-align: center;
}
#requests input, #requests textarea {
  width: 100%;
  height: 2em;
  margin: 1em auto;
  font-size: 1.5em;
}
#requests textarea {
  height: 15vh;
  resize: none;
}
.request {
  background: rgba(0,0,0,.1);
  margin: 1em auto;
  padding: 2em;
  color: #FFFF9D;
  position: relative;
  text-align: left;
}
.request:hover {
  background: rgba(0,0,0,.2);
  cursor: pointer;

}
.visibility img {
  max-width: 1.5em;
  max-height: 1.5em;
}
.visibility {
  position: absolute;
  top: 3em;
  right: 1em;
}




/* Modal */
#Modal {
  background: rgba(0,0,0,.7);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 4;
}
#ModalBox {
  position: fixed;
  top: 11.5%;
  left: 15%;
  width: 75vw;
  height: 85vh;
  overflow-y: auto;
  overflow-x: hidden;
  background: url("http://s24.postimg.org/spbpdevh1/image.jpg");
  background-size: cover;
  background-attachment: fixed;
  z-index: 5;
  padding: 5em;
  padding-bottom: 3em;
  border-radius: 7.5%;
}
#ModalBox:hover {
  cursor: default;
}
#ModalBox h1 {
  padding-bottom: 0;
}
#modalBox .row img {
  padding-top: 15em !important;

}
#ModalBox hr {
  width: 100%;
}
#modalButtons {
    position: absolute;
    bottom: 2em;
    left: 40%;
}
.modalIcons {
  padding-right: 1vw;
}
.modalIcons img{
  max-height: 2vh;
  max-width: 2vw;
  margin-left: .5vw;
}
.modalIcons a {
  color: white;
  text-decoration: none;
}
.modalIcons a:hover {
  color: #FFFF9D;
  text-decoration: none;
}
.modelButton {
  position: relative;
  bottom: 1vh;
}

/* Notifications */
.notify {
  position: relative;
  background: rgba(0,0,0,.1);
  padding: 1em;
  margin: 1em auto;
}
.notify:hover {
  background: rgba(0,0,0,.2);
  cursor: default;
}
.notify img {
  max-height: 2vh;
  max-width: 2vw;
  margin-top: 0;
}
.notify img:hover {
  cursor: pointer;
}
.notify em:hover {
  color: #ffff9d;
}

/* Account */
#account {

}



.dialogdemoBasicUsage #popupContainer {
  position: relative; }
.dialogdemoBasicUsage .debt-be-gone {
  font-weight: bold;
  color: 00A388;
  text-decoration: underline; }
.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }
.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }


/* Profile */



/* Classes */

.inline {
  display: inline;
}
img.delete {
  position: absolute;
  top: 1em;
  right: 1.5em;
  max-height: 1.5em;
  max-width: 1.5em;
}
img.edit {
  position: absolute;
  top: 1em;
  right: 4em;
  max-height: 1.5em;
  max-width: 1.5em;
}
img.close {
  position: absolute;
  top: 2.5em;
  right: 3em;
  max-height: 1.5em;
  max-width: 1.5em;
}
.searchBar {
  width: 75% !important;
  padding: 1.5em 1em;
}
.vertical-text {
	transform: rotate(90deg);
	transform-origin: left top 0;
}
.greyscale {
  -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
-o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
-webkit-filter: grayscale(100%);
filter: gray;
filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}
.skill {
  background: url('http://justinsarnik.com/img/global/close.png');
  background-size: 1vw 1.5vh;
  background-position: top right;
  background-repeat: no-repeat;
  width: auto;
  float: left;
  padding-top: .5vh;
  padding-right: 1vw;
}
.skill:hover {
  background: url('http://s1.postimg.org/ncpyb898f/closehighlight.png');
  background-size: 1vw 1.5vh;
  background-position: top right;
  background-repeat: no-repeat;
  color: #FFFF9D;
}
.shade {
  background: rgba(0,0,0,.1);
  color: #fff;
}
.highlight:hover {
  color: #ffff9d;
}
.circle {
  display: inline-block;
  text-align: center;
  position: relative;
  color: #FFFF9D;
  border-radius: 50%;
  background: rgba(0,0,0,.1);
  background-position: top center;
}
.selected {
  border: solid 2px #fff;
}

/* Ids */
#pieChart {
  margin: 0 auto;
}

/* Responsive Fixes */
@media (min-width: 950px) {
  nav {
    display: none;
  }
  #desktopNav {
    display: block;
  }
  #dropDownWrapper {
    display: block;
  }
  #userbar {
    display: block;
  }
  body {
    padding-top: 7vh;
    font-size: .8vw;
  }

  #ModalBox {
    top: 21.5%;
    left: 25%;
    width: 55vw;
    height: 65vh;
  }
}
