<div ng-controller="CirclesController as vm" id="circles" class="container">
  <div ng-repeat="c in vm.circles"> <!-- vm.circles (in plural is for displaying) -->
    <h2>Añadir contactos a mi <span style="Black">{{c.title}}</span> Círculo</h2>
    <h5>Puedes añadir contactos a el Círculo <span style="Black">{{c.pieces}}</span> ahora o luego puedes volver y editar. </h5>
  </div>

<!-- __________________Add Contacts to Circle__________________ -->

<form ng-submit="vm.addContactCircle(vm.newContact);">
      <input type="text" placeholder="Nombre" ng-model="vm.newContact.firstName" />
      <input type="text" placeholder="Apellido" ng-model="vm.newContact.lastName" />
      <input type="email" placeholder="Correo Electrónico" ng-model="vm.newContact.email" />
Información Adicional
<input type="checkbox" ng-model="extras" >

<div ng-show="extras">
    <input type="text" ng-disabled="!extras" placeholder="Foto de Perfíl" ng-model="vm.newContact.profilePic" />
    <input type="text" ng-disabled="!extras" placeholder="Celular" ng-model="vm.newContact.phone" />
    <input type="text" ng-disabled="!extras" placeholder="Enlace a Skype" ng-model="vm.newContact.skype" />
    <input type="text" ng-disabled="!extras" placeholder="Enlace a LinkedIn" ng-model="vm.newContact.linkedIn" />
    <input type="text" ng-disabled="!extras" placeholder="Enlace a Facebook" ng-model="vm.newContact.facebook" />
    <textarea ng-disabled="!extras" ng-model="vm.newContact.bio" placeholder="Bio"></textarea>
</div>

<button type="submit" class="btn btn-success">Salvar Círculo</button>
<button type="button" class="btn btn-danger" ui-sref="Circles" ng-click="vm.newContact = {};">Cancelar</button>
</form>

</div>
