<ion-view view-title="Dashboard">
  <div layout layout-align="right">
    <div flex flex-offset="60">
    <i class="icon ion-android-happy"></i><i class="icon ion-android-more-vertical"></i>
    </div>
  </div>

  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Homie!</div>
      <div class="item item-body">
        <div>
          <a ui-sref="Home">Home</a>
        </div>
      </div>
    </div>

        <div class="list card">
      <div class="item item-divider">Profile</div>
      <div class="item item-body">
        <div>
          <a ui-sref="profile">Edit Profile</a>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Recent Circles</div>
      <div class="item item-body">
        <div>
          Babysitting
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">My Requests</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> requests.
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
