<div ng-controller="CirclesController as vm" id="circles" class="container">
<h1>Tus Círculos</h1>
	<button ui-sref="CreateCircle" class="btn btn-success"> Crear </button>
<div class="">
  <br>
  <h3>Niñeras</h3>
  <br>
  <br>
  <div style="height: 20em; width: 20em; border-radius: 50%; background-color: rgba(0,0,0,.1); margin: 0 auto;"></div>
  <div draggable="true" ng-repeat="contact in vm.contacts" class="circle">
    <p>{{ contact.firstName }}  {{ contact.lastName }}</p>
    <p>{{ contact.email }}</p>
    <!-- <button type="button" class="btn btn-success" ng-click="">Add</button> -->
  </div>
  </div>
</div>
