<div class="center"> <!-- inside the global controller on Index -->
	<div class="top">
		<img src="/assets/circle-yelloworange.png"><br/>
	</div>
	<div class="bottom">
		<button ui-sref="SignInEs" class="button">Iniciar</button><br/><br/>
		<!-- <button href="http://localhost:3000/api/user/auth/linkedin" class="button shrink">Iniciar<br><span style="font-size:10px;">con LinkedIn</span></button><br/><br/> -->
		<!-- <button ng-click="vm.signInLinkedIn" class="button shrink">Iniciar<br><span style="font-size:10px;">con LinkedIn</span></button><br/><br/> -->
		<a ui-sref="SignUpEs">Registrar</a>
	</div>

</div>
