<!-- GLOBAL CONTROLLER  -->
<h1>Sign In</h1>
          <form ng-submit="glob.signIn()">
               <md-input-container>
                 <label> Email </label>
                 <input ng-model="glob.user.email" type="text" ng-required="true">
               </md-input-container>
               <md-input-container>
                 <label> Password </label>
                 <input ng-model="glob.user.password" type="password" ng-required="true">
               </md-input-container>
                    <div style="text-align: center">
                      <!-- <md-button ng-click="nav.isLogin = false;" class="md-accent md-raised"> Sign Up</md-button> -->
                      <button type="submit" class="button"> Sign In </button><br/><br/>
                        <a ui-sref="ForgotPassword"> Forgot your Password? </a>
             </form>
