<div> <!-- inside the Global Controller on index-->

	<form class="list" ng-submit="glob.signUpEs()">
	<h1>Registrar</h1>
			<label class="item item-input">
			<input ng-model="glob.user.firstName" placeholder="Nombre*" type="text" ng-required="true"/>
			</label>

			<label class="item item-input">
			<input ng-model="glob.user.lastName" placeholder="Apellido*" type="text" ng-required="true"/>
			</label>

			<label class="item item-input">
			<input ng-model="glob.user.email" placeholder="Dirección de Correo* Vas a iniciar tu sesión con tu dirección de correo." type="email" ng-required="true"/>
			</label>

			<label class="item item-input">
			<input ng-model="glob.user.password" placeholder="Contraseña*" type="password" ng-required="true"/>
			</label>

			<label class="item item-input">
			<input ng-model="glob.user.confirmPassword" placeholder="Confirmar Contraseña*" type="password" ng-required="true"/>
			</label>

		<div ng-show="!(glob.user.password === glob.user.confirmPassword)">Tus contraseñas deben parear.</div>

		<button type="submit" class="button" ng-disabled="!glob.user.firstName || !glob.user.lastName || !glob.user.email || !glob.user.password || !(glob.user.password === glob.user.confirmPassword)">Registar</button>
	</form>

</div>